#related-docs{
	bottom: 0px;
	right: 0px;
	position: fixed;
	z-index: 100;
	background: transparent;
	width: 50%;
	height: 250px;
	
}

.relation-buttons{
	height:25px;
}

.tableContainer{
	min-height: 500px;
	background-color: white;
	overflow-y: auto;
}
#related-docs{
	overflow-y: auto;
}	
