#related-docs{
	bottom: 0px;
	right: 0px;
	position: fixed;
	z-index: 100;
	background: transparent;
	width: 50%;
	height: 250px;

}


/* Scrollbar styles */
#related-docs::-webkit-scrollbar {
	margin-top:25px;
}

#related-docs::-webkit-scrollbar-track {
	margin-top:25px;
	background: white;
}

#related-docs .close-button{
	margin-top: 35px;
	margin-right: 5px;
}
.relation-buttons{
	height:25px;
	background: black;
}

.tableContainer{
	min-height: 250px;
	background-color: white;
	overflow-y: auto;
}
#related-docs{
	overflow-y: auto;
}	
