#map {
	height: 100%;
	width: 100%;
}

.navbar {
    background-color: rgb(155, 193, 156);
    background: -webkit-linear-gradient(-270deg, rgb(155, 193, 156), #4CAF50); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-270deg, rgb(155, 193, 156), #4CAF50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-270deg, rgb(155, 193, 156), #4CAF50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-270deg, rgb(155, 193, 156), #4CAF50); /* Standard syntax */
    right: 47px;
	margin: 15px;
	min-height: 64px
	border-top: none;
	border-bottom: none;
	top: 0;
	border-width: 0 0 1px;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    display: block;
}
.navContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.nav-menu{
	margin-right: 10px;
}

.nav-button {
	border: solid 2px rgb(155, 193, 156);
	border-radius: 90%;
}

.esriSimpleSliderTL {
    top: 100px;
    }

.legendButton {
	position:absolute;
	top: 175px;
	left: 20px;
	z-index: 30;
	text-align: center;
    border: 1px solid #57585A;
    background-color: #FFF;
    color: #4C4C4C;
    border-radius: 5px;
    min-height: 32px !important;
    min-width: 32px !important;

}    

.legendButton {
	text-align: center;
    border: 1px solid #57585A;
    background-color: #FFF;
    color: #4C4C4C;
    border-radius: 5px;
    min-height: 32px !important;
    min-width: 32px !important;
} 

.panel-container {
	position: fixed;
    top: 80px;
    right: 15px;
    max-width: 350px;
    z-index: 999;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: .03em;
    min-width: 350px;
    
}

.panel-heading {
	height: 40px;
}

.panel-heading h3{
	white-space: nowrap;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.panel-button {
	margin-left: 5px;
}


.panel-body-button {
	margin: 10px;
}

select {
    margin: 10px;
}

#north-arrow {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 69px;
    z-index: 99;
    height: 100px;
    background: url('/images/north-arrow.png') no-repeat;
}

#dijit_Dialog_0 tr{
    background: transparent;
}

.imagePreview{
    margin: auto;
    width: 60%;
    height:120px;
    background: no-repeat center;
    border: 1px black solid;
}

.basemapOptions:hover{
    background-color: #FF4500;
    color: white;
}

input.dijitReset.dijitInputField.dijitValidationIcon.dijitValidationInner {
    background-color: transparent !important;
}

.dijitReset.dijitValidationContainer{
    background-color: transparent !important;
}


.basemapOptions {
    list-style: none;
}

.basemapOptions:before {
    content: "\2727";
}

.selectedBasemap:before {
    content: "\2726";
}

.esriSignInDialog{
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    background-color:  rgba(255,255, 255,.2)
}

.dijitButtonNode.dijitButtonNode{
    border: none;
}


.scalebar_bottom-center.esriScalebar {
    left:10px;
    right: 10px;
}