<div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">

		<ul ng-mouseleave="hoverImage = 'none'">
		    <li class="basemapOptions" ng-class="{selectedBasemap: option.name == map.basemap}" ng-repeat="option in basemapOptions" ng-mouseenter="showpreview(option.imagery)" ng-click="basemapChange(option.name)">
		        {{option.displayName}}
		    </li>
		</ul>
		<div ng-hide="hoverImage==='none'" class="imagePreview" ng-style="{'background': hoverImage}"></div>

	</div>
</div>