<div class="bottomSheetContainer" ng-show="showBottom">
      <table class="bottomSheetTable">
      <thead>
      	<tr>
      		<th ng-repeat="field in outFields">{{field}}</th>
      		<th ng-click="showBottom=false">x</th>
        </tr>
      </thead>
        <tr class="bottom-row" ng-repeat="item in newSelectedFeatures">
          <td ng-repeat="field in outFields track by $index" data-title="{{field}}" sortable="{{field}}" ng-click="checkRecords(item.attributes['OBJECTID'])">{{item.attributes[field]}}</td>
          <td data-title="x" sortable="x">{{" "}}</td>

        </tr>
      </table>
</div>
