<div id="help">
	<navbar></navbar>
	<div class = "container">
		<h1>Help</h1>
		<h3>Choose a help topic from the menu in the top right of the navbar</h3>
	</div>	
		<div class="container" ng-show="helpSection === 'Basic' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Basic Map Controls</div>
			<div class="panel-body">
				<img src="./client/images/help_overview.png" alt="overview" width="80%" >
				<p >The map opens zoomed to Suffolk County by default. You can zoom in and out of the map using the scroll wheel on your mouse or the plus <span class="glyphicon glyphicon-plus"></span> and minus <span class="glyphicon glyphicon-minus"></span> buttons located on the top left of the viewer.  You can return to the original view by pressing the home button <span class="glyphicon glyphicon-home"></span> located just under the zoom buttons on the top right of the viewer. To view the legend you can click the list icon <span class="glyphicon glyphicon-th-list"></span> located right below the home button on the upper left hand side of the screen. To access all available tools you can click the menu button <span class="glyphicon glyphicon-menu-hamburger"></span> on the top right hand side of the screen. </p>
			</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Legend' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Legend</div>
			<div class="panel-body">
				<p>To view the legend you can click the legend button <span class="glyphicon glyphicon-th-list"></span> that is just under the home button on the top left of the viewer. This will open/close the legend popup</p>
				<h3 style="text-align: center">Legend open/close & toggle layer on/off demo</h3>
				<img src="./client/images/help_legend_open_close.gif" alt="legend open and close" height="400" width="740" align="middle" >
				<p>You can toggle layers on and off by clicking the check box next to the legend name. Any layer with an edit icon <span class="glyphicon glyphicon-edit"></span> next to it like below will open a menu that will allow you to adjust what field a layer's symbology is based on. </p>
				<h3 style="text-align: center">Change Symbology Demo</h3>
				<img src="./client/images/help_legend_rendering.gif" alt="legend open and close" height="400" width="740" >
			</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Tools' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Tools</div>
			<div class="panel-body">
			<p>Tools can be accessed by clicking the menu button in the top right of the application.  Click on any tool in the menu to expand it to your map view.  Tools can be expanded or minimized by clicking the name of the tool. You can close a tool by clicking the x button in the top right corner of the tool dialog box.</p>
			<h3 style="text-align: center">Open Menu, Select, Expand and Close Tool Demo</h3>
			<img src="./client/images/help_tools_open_close.gif" alt="tool basics" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Search' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Search</div>
			<div class="panel-body">
			<p >By default the <span class="label label-info">Search</span> tool is open when the application is launched. You may also open it from the tools menu located in the top right of the screen. You can search by either property address or by contract number. When searching by address the application will present 5 suggestions that match your search. You can double click any result to zoom to that location. </p>
			<h3 style="text-align: center">Search for Address & Zoom To Result Demo</h3>
			<img src="./client/images/help_search.gif" alt="search for address" height="400" width="740" align="middle" >
			<p >You may also search by contract number by clicking the contract radio button under the search text box. Matching contracts will appear at the bottom of the screen. You can select from the matching records which contract you are interested in then chose to open the PDF of this file from the list. </p>
			<h3 style="text-align: center">Search for Contract Demo</h3>
			<img src="./client/images/help_search_contract.gif" alt="search for contract" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Measure' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Measure</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Measure</span> tool can be found in the drop down menu at the top right of the screen. The tool allows you to measure area, length as well as get the coordinates of a point on the map. Click the unit (Acres, Miles, Degrees ect.) to change the unit of measurement.</p>
			<h3 style="text-align: center">Measure Area, and Length Demo</h3>
			<img src="./client/images/help_measure.gif" alt="measure tool demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Bookmarks' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Bookmarks</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Bookmarks</span> tool can be found in the drop down menu at the top right of the screen. The tool comes preloaded with four bookmarks. Click any bookmark to zoom to location. You may add new bookmarks by zooming to the location of interest, inserting a name in the text box, and clicking "Add". Bookmarks are saved to your browser's cookies. If you delete your cookies, you will delete your custom bookmarks and will be left with the four default bookmarks. Bookmarks can be removed individually by clicking the X to the right of the bookmark's name.</p>
			<h3 style="text-align: center">Add, Remove & Zoom to Bookmark Demo</h3>
			<img src="./client/images/help_bookmark.gif" alt="bookmark demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Basemap Gallery' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Basemap Gallery</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Basemap Gallery</span> tool can be found in the drop down menu at the top right of the screen. Scroll over list items to view a preview of the basemap. Click to change map's basemap.</p>
			<h3 style="text-align: center">Preview and Change Basemap Demo</h3>
			<img src="./client/images/help_basemap.gif" alt="basemap demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Draw' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Draw</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Draw</span> tool can be found in the drop down menu at the top right of the screen. Click your draw pattern of choice to draw that object on the map. Once you click on a shape of choice an info window will appear with directions on how to draw that particular shape. You may chose remove last, to remove the last drawn shape or remove all to delete all drawn objects.</p>
			<h3 style="text-align: center">Draw Tool Demo</h3>
			<img src="./client/images/help_draw.gif" alt="draw tool demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Print' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Print</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Print</span> tool can be found in the drop down menu at the top right of the screen. The print tool includes four different print layouts. Make a choice then click the printer icon button. You will be notified to wait as your print is being prepared. The new print should open up in a new window. If you have pop-ups blocked you can click inside the green confirmation message window to open up a new tab to view your print-ready PDF.</p>
			<h3 style="text-align: center">Print Tool Demo</h3>
			<img src="./client/images/help_print.gif" alt="print tool demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
	<div class="container" ng-show="helpSection === 'Select & View' ||  helpSection === 'All'">
		<div class = "panel panel-primary">
			<div class="panel-heading">Select & View</div>
			<div class="panel-body">
			<p >The <span class="label label-info">Select and View</span> can be found in the drop down menu at the top right of the screen. Once open you may select from the list of available map layers. You may then choose to select features by extent <span class="glyphicon glyphicon-unchecked"></span>, or by simple point and click, <span class="glyphicon glyphicon-hand-up"></span>. Once you select a single feature or a group of features an info box will appear at the bottom of the screen with the results of your selection. You may also reset your selection by clicking the refresh button <span class="glyphicon glyphicon-refresh"></span>.</p>
			<h3 style="text-align: center">Select and View by Extent or Point & Click Demo</h3>
			<img src="./client/images/help_select_view_1.gif" alt="print tool demo" height="400" width="740" align="middle" >
			<p >Once the bottom panel opens with your select results you may scroll through the results, double click to zoom to result or single click to open a list of doucments related to that feature. Click the link in the documents list to view image of original document.</p>
			<h3 style="text-align: center">Select and View by Extent or Point & Click Demo</h3>
			<img src="./client/images/help_select_view_2.gif" alt="print tool demo" height="400" width="740" align="middle" >
		</div>
		</div>
	</div>
</div>