<navbar></navbar>

<button class="legendButton" ng-click="showLegend()"><span class="glyphicon glyphicon-th-list"></span></button>
<button class="homeButton" ng-click="zoomHome()"><span class="glyphicon glyphicon-home"></span></button>

<div class="panel-container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-show="tools.About">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#about">
                    About</a>
                </h4>
                <div class="panel-button pull-right">
                    <span ng-click="tools.About=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <div id="about" class="panel-collapse collapse in">
                <div class="panel-body"> Suffolk County DPW 
                             Sanitary Sewer GIS<br> 

                             <a href="#/help"  target="_blank">Help PDF</a> <br>

                             <a href="https://portal.gayrondebruin.com/suffolkcounty/WebLinks/Sewers/Other/SCDPWSewersGeodatabaseMetadata.Htm"  target="_blank">Geodatabase Metadata 
                             Data Dictionary</a> <br>
                              
                             Gayron de Bruin Land Surveying and Engineering, PC 
                             .</div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="tools.Bookmarks">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Bookmarks</a>
              </h4>
              <div class="panel-button pull-right">
                    <span ng-click="tools.Bookmarks=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <bookmarks map="esriMapObject"></bookmarks>
        </div>
        <div class="panel panel-default" ng-show="tools.Search">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSearch">
                Search</a>
              </h4>
              <div class="panel-button pull-right">
                    <span ng-click="tools.Search=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <search map="esriMapObject"></search>
        </div>
     <div class="panel panel-default" ng-show="tools['Basemap Gallery']">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Basemap Gallery</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools['Basemap Gallery']=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <basemap-gallery map="map"></basemap-gallery>
    </div>
        <div class="panel panel-default" ng-show="tools.Draw">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Draw</a>
                </h4>
                <div class="panel-button pull-right">
                    <span ng-click="tools.Draw=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                        <button style="margin:5px" type="button" class="btn btn-primary" ng-repeat="shape in drawOptions" ng-click="activateDrawTool(shape.id, shape.help)"><span class="glyphicon" ng-class="'glyphicon-'+ shape.icon"></span>{{"  " + shape.name}}</button>

                    <div class="alert alert-info" role="alert" ng-show="helpMessage">
                      <i>{{helpMessage}}</i>
                    </div>
                    <div ng-show="drawGraphicsLayer.graphics.length>0">
                        <button class="draw-btn btn-lg btn-warning" ng-click="removeLast()">Remove Last</button>
                        <button class="draw-btn btn-lg btn-danger" ng-click="removeAll()">Remove All</button>
                    </div>
                </div>
                
            </div>
        </div>
    
    <div class="panel panel-default" ng-show="tools.Measure">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Measure</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools.Measure=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="measurementDiv"></div>
                <button class="btn btn-primary btn-sm " type="button" ng-click="clearMeasurement()"><span class="
glyphicon glyphicon-refresh"></span></button>
            </div>  
        </div>
    </div>
    <div class="panel panel-default" ng-show="tools.Print">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#print">Print</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools.Print=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <print></print>
    </div>
    <div class="panel panel-default" ng-show="tools['Select & View']">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#select">Select & View records</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools['Select & View']=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div id="select" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="selectFormDiv">
                    <form name="myForm">
                        <label for="selectForm">Choose Selectable Layer:</label>
                        <select name="selectForm" id="selectForm" ng-options="layer as layer.name for layer in layers" ng-model="userSelectedLayer" ng-change="change()">
                        </select>
                    </form>
                </div>
                <button class="panel-body-button btn" ng-click="selectByExtent()" ng-class="{'disabled': !newSelection}"><span class="glyphicon glyphicon-unchecked"></span></button>
                <button class="panel-body-button btn" ng-click="selectByClick()" ng-class="{'disabled': !newSelection}"><span class="glyphicon glyphicon-hand-up"></span></button>
                <button class="panel-body-button btn" ng-click="clearSelection()" ng-class="{'disabled': !newSelectedFeatures}"><span class="glyphicon glyphicon-refresh"></span></button>
                <div ng-show="selectSearch">
                    <div class="alert alert-warning" role="alert" ng-show="scaleMessage">
                          <i>{{scaleMessage}}</i>
                    </div>
                    <div class="alert alert-info" role="alert" ng-show="newSelectedFeatures.length>0 && showSelected === true">
                          <i>{{newSelectedFeatures.length}} Feature(s) selected. <strong>Click</strong> Feature in Table Below to View Related Documents. <strong>Double Click</strong> to zoom to feature.</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


<legend-box ng-show="legendVisible"></legend-box>

<esri-map id="map" map-options="map.options" load="onMapLoad" basemap="{{map.basemap}}">
    <esri-feature-layer ng-repeat="layer in layersOn" url="{{layer.url}}" layer-options="layer.options"></esri-feature-layer>
    <div style="position:absolute; left:20px; bottom:10px; z-Index:999;">
    </div>
</esri-map>
<div id="north-arrow"></div>
<bottom-sheet></bottom-sheet>
<related-docs></related-docs>
<messenger></messenger>