<div class="navbar">
    <div class="navContainer">
        <h3 style=" margin:5px; padding:12px 0 10px 10px; color:white">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Sanitary Sewer GIS 
            <small style="color:white">Suffolk County DPW</small>
        </h3>
        <div class="btn-group nav-menu" role="group">
            <button type="button" class="btn btn-default dropdown-toggle nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Bookmarks</a></li>
              <li><a href="#">Backgrounds</a></li>
              <li><a href="#">Draw</a></li>
              <li><a href="#">Measure</a></li>
            </ul>
        </div>
    </div>
</div>

<button class="legendButton" ng-click="showLegend()"><span class="glyphicon glyphicon-th-list"></span></button>

<div class="panel-container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#about">
					About</a>
				</h4>
            </div>
            <div id="about" class="panel-collapse collapse in">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		        Bookmarks</a>
		      </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                <div class="row">
				  <div class="col-lg-12">
				    <div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="extentFinder()">Add</button>
				      </span>
				      <input type="text" class="form-control" ng-model="newBookmarkName"placeholder="New Bookmark name...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>  
                	<ul>
                		<li style="margin:5px" ng-repeat="bookmark in bookmarks">
                			<span ng-click="zoomToExtent(bookmark.extent)">{{bookmark.name}}</span>
                			<span ng-click="removeBookmark($index)" class="pull-right glyphicon glyphicon-remove">
                		</li>
                	</ul>
                </div>
            </div>
        </div>
     <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		        Background Gallery</a>
		      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <form name="basemap">
                <label for="basemapSelect"> Basemap: </label>
                <select name="basemapSelect" id="basemapSelect" ng-model="map.basemap">
                    <option ng-repeat="option in basemapOptions" value="{{option.name}}">{{option.name}}</option>
                </select>
            </form>
        </div>
    </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Draw</a>
      </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body"><div class="btn-group primary">
    <button type="button" class="btn btn-primary dropdown-toggle primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pick a Shape <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a ng-click="activateDrawTool('Point')">Point</a></li>
        <li><a ng-click="activateDrawTool('Multipoint')">Multipoint</a></li>
        <li><a ng-click="activateDrawTool('Line')">Line</a></li>
        <li><a ng-click="activateDrawTool('Polyline')">Polyline</a></li>
        <li><a ng-click="activateDrawTool('FreehandPolyline')">Freehand Polyline</a></li>
        <li role="separator" class="Shapes"></li>
        <li><a ng-click="activateDrawTool('Triangle')">Triangle</a></li>
        <li><a ng-click="activateDrawTool('Extent')">Rectangle</a></li>
        <li><a ng-click="activateDrawTool('Circle')">Circle</a></li>
        <li><a ng-click="activateDrawTool('Ellipse')">Ellipse</a></li>
        <li><a ng-click="activateDrawTool('Polygon')">Polygon</a></li>
        <li><a ng-click="activateDrawTool('FreehandPolygon')">Freehand Polygon</a></li>
    </ul>
</div></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Measure</a>
      </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                <button ng-click="activateMeasureTool()">Start Measure</button>
                <p ng-show="resultLength>0">{{resultLength}} Meters</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#print">
        Print</a>
      </h4>
            </div>
            <div id="print" class="panel-collapse collapse">
                <div class="panel-body">
                	<div id="printButton"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#select">
        Select & View records</a>
      </h4>
            </div>
            <div id="select" class="panel-collapse collapse">
                <div class="panel-body">
                    <div id="selectFormDiv">
                        <form name="myForm">
                            <label for="selectForm">Choose Selectable Layer:</label>
                            <select name="selectForm" id="selectForm" ng-options="layer as layer.name for layer in layers" ng-model="userSelectedLayer" ng-change="change()">
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<legend-box ng-show="legendVisible"></legend-box>

<esri-map id="map" map-options="map.options" load="onMapLoad" basemap="{{map.basemap}}">
    <esri-feature-layer ng-repeat="layer in layersOn" url="{{layer.url}}" layer-options="layer.options"></esri-feature-layer>
    <div style="position:absolute; left:20px; bottom:10px; z-Index:999;">
    </div>
</esri-map>