<div class="navbar">
    <div class="navContainer ">
        <h3 style=" margin:5px; padding:12px 0 10px 10px; color:white">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Sanitary Sewer GIS 
            <small style="color:white">Suffolk County DPW</small>
        </h3>
        <div class="btn-group nav-menu" role="group">
            <button type="button" class="btn btn-default dropdown-toggle nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a ng-repeat="(key, value) in tools" ng-click="toggleTools(key)">{{key}}</a></li>
            </ul>
        </div>
    </div>
</div>

<button class="legendButton" ng-click="showLegend()"><span class="glyphicon glyphicon-th-list"></span></button>

<div class="panel-container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-show="tools.About">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#about">
                    About</a>
                </h4>
                <div class="panel-button pull-right">
                    <span ng-click="tools.About=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <div id="about" class="panel-collapse collapse in">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="tools.Bookmarks">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Bookmarks</a>
              </h4>
              <div class="panel-button pull-right">
                    <span ng-click="tools.Bookmarks=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <bookmarks map="esriMapObject"></bookmarks>
        </div>
     <div class="panel panel-default" ng-show="tools['Basemap Gallery']">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Basemap Gallery</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools['Basemap Gallery']=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <basemap-gallery map="map"></basemap-gallery>
    </div>
        <div class="panel panel-default" ng-show="tools.Draw">
            <div class="panel-heading">
                <h4 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Draw</a>
                </h4>
                <div class="panel-button pull-right">
                    <span ng-click="tools.Draw=false" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="btn-group primary">
                        <button type="button" class="btn btn-primary dropdown-toggle primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pick a Shape <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a ng-repeat="shape in drawOptions" ng-click="activateDrawTool(shape.id)">{{shape.name}}</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="tools.Measure">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Measure</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools.Measure=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="measurementDiv"></div>
            </div>  
        </div>
    </div>
    <div class="panel panel-default" ng-show="tools.Print">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#print">Print</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools.Print=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div id="print" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="printButton"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="tools['Select & View']">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#select">Select & View records</a>
            </h4>
            <div class="panel-button pull-right">
                <span ng-click="tools['Select & View']=false" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div id="select" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="selectFormDiv">
                    <form name="myForm">
                        <label for="selectForm">Choose Selectable Layer:</label>
                        <select name="selectForm" id="selectForm" ng-options="layer as layer.name for layer in layers" ng-model="userSelectedLayer" ng-change="change()">
                        </select>
                    </form>
                </div>
                <button class="panel-body-button btn" ng-click="selectByExtent()" ng-class="{'disabled': !newSelection}"><span class="glyphicon glyphicon-unchecked"></span></button>
                <button class="panel-body-button btn" ng-click="selectByClick()" ng-class="{'disabled': !newSelection}"><span class="glyphicon glyphicon-hand-up"></span></button>
                <div class="alert alert-warning" role="alert" ng-show="scaleMessage">
                      <i>{{scaleMessage}}</i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<legend-box ng-show="legendVisible"></legend-box>

<esri-map id="map" map-options="map.options" load="onMapLoad" basemap="{{map.basemap}}">
    <esri-feature-layer ng-repeat="layer in layersOn" url="{{layer.url}}" layer-options="layer.options"></esri-feature-layer>
    <div style="position:absolute; left:20px; bottom:10px; z-Index:999;">
    </div>
</esri-map>
<div id="north-arrow"></div>
<bottom-sheet></bottom-sheet>
<related-docs></related-docs>
<messenger></messenger>