<div class="navbar">
    <div class="navContainer ">
        <h3 style=" margin:5px; padding:12px 0 10px 10px; color:white">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Sanitary Sewer GIS 
            <small style="color:white">Suffolk County DPW</small>
        </h3>
        <div class="nav-elements">
            <div  class="load" ng-show="loading">
                    <div class="loader"></div>
            </div>    
            <div class="btn-group nav-menu" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a ng-repeat="(key, value) in tools" ng-click="toggleTools(key)">{{key}}</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>