<div id="collapseSearch" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                Search
                <form novalidate class="css-form">
                <input type="text" ng-change="inputChange(input.text)" ng-model="input.text" required /><br />
                <input type="button" ng-click="reset()" value="Reset" />
                <input type="submit" ng-click="update(user)" value="Save" />
              </form>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <ul class="searchList">
         <li class="searchListItems" ng-repeat="location in suggestions" ng-click="zoomToAddress(location)"><small>{{location.text | noUSA}}</small></li>
        </ul>
    </div>
</div>
